﻿
@{
    ViewBag.Title = "Add";
}

<h2>Dodaj nowy wpis</h2>

@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
	<select name="Language" class="form-control" style="margin-bottom: 10px;">
		<option value="js">JavaScript</option>
		<option value="csharp">CSharp</option>
	</select>
	<textarea class="form-control" rows="10" name="Body" style="margin-bottom: 10px;"></textarea>
	<button class="btn btn-success">
		<i class="fa fa-plus"></i>
		Wyślij
	</button>
}

