﻿@model List<Pastebin.Models.Document>

@{
	ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Wszystkie</h2>
		@foreach (var item in Model)
		{
			<div class="panel panel-default">
				<div class="panel-heading">
					@String.Format("Wklejka: {0}", item.Id)
				</div>
				<div class="panel-body">
					<a href="@Url.Action("Show", new { id = item.Id })" class="btn btn-success">
						<i class="fa fa-eye"></i> Zobacz
					</a>
				</div>
			</div>
		}
	</div>
</div>