﻿@model Document
@{
	ViewBag.Title = "Show";
}

<h2>Podgląd</h2>
<h4>Id: @Model.Id</h4>

<pre class="brush: @Model.Language">
@Model.Body
</pre>

@section Scripts{
	<script type="text/javascript">
		SyntaxHighlighter.all()
	</script>
}

