﻿@model Document

@{
	ViewBag.Title = "Summary";

}

<div class="container" style="margin-top: 10px;">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-success">
				<div class="panel-heading">
					<a href="@Url.Action("Show", "Home", new {id = Model.Id})" class="btn btn-primary">
						<i class="fa fa-list"></i>
						@Url.Action("Show", "Home", new { id = Model.Id })
					</a>
				</div>
				<div class="panel-body">
<pre class="brush: @Model.Language">
@Model.Body
</pre>
				</div>
				<div class="panel-footer">
					Język: <strong>@Model.Language</strong>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script type="text/javascript">
		SyntaxHighlighter.all()
	</script>
}
